<% @persons.each do |person| %>
  <tr>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.species %></td>
    <td><%= person.gender %></td>
    <td><%= person.weapon %></td>
    <td><%= person.vehicle %></td>
    <td class="affiliations">
      <% person.affiliations.each do |affiliation| %>
        <span class="badge bg-info text-dark"><%= affiliation.name %></span>
      <% end %>
    </td>

    <td class="locations">
      <% person.locations.each do |location| %>
        <span class="badge bg-secondary"><%= location.name %></span>
      <% end %>
    </td>
  </tr>
<% end %>